@{
    ViewData["Title"] = "Home Page";
}
<!-- this was lifted directly from https://zipso.net/a-simple-touchscreen-sketchpad-using-javascript-and-html5/ -->
<style>
    #sketchpadapp {
        /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .leftside {
        float: left;
        width: 220px;
        height: 385px;
        background-color: #def;
        padding: 10px;
        border-radius: 4px;
    }

    .rightside {
        float: left;
        margin-left: 10px;
    }

    #sketchpad {
        float: left;
        height: 300px;
        width: 400px;
        border: 2px solid #888;
        border-radius: 4px;
        position: relative; /* Necessary for correct mouse co-ords in Firefox */
    }

    #clearbutton {
        font-size: 15px;
        padding: 10px;
        -webkit-appearance: none;
        background: #eee;
        border: 1px solid #888;
    }
</style>

<ul>
    <li>tHE KEY IS: @ViewBag.Key</li>
    <li>Add url to conifg</li>
    <li>Copy to github</li>
    <li>Set up deployment to azure</li>
    <li id="message"></li>
</ul>


<div id="sketchpadapp">
    <div class="leftside">
        Touchscreen and mouse support HTML5 canvas sketchpad.<br /><br />
        Draw something by tapping or dragging.<br /><br />
        Works on iOS, Android and desktop/laptop touchscreens using Chrome/Firefox/Safari.<br /><br />
        <input type="submit" value="Clear Sketchpad" id="clearbutton">
        <input type="submit" value="Save Sketchpad" id="saveButton">
    </div>
    <div class="rightside">
        <canvas id="sketchpad" height="300" width="400"></canvas>
    </div>
</div>



@*<canvas id="can" style="border: 1px solid black" width="500" height="500"></canvas>
    <div style="margin-top: 50px"><button id="saveButton">Draw to Image</button></div>
    <img id="theimage" />*@
<script src="scripts/Drawing2.js" type="text/ecmascript"></script>


@section Scripts
    {
    
    <script type="text/javascript">

        var message = "No message to display";

        function saveImage(base64) {
            $("#message").text("loading");

            $.ajax({
                type: "POST",
                url: window.location + "/api/images",
                data: { base64Data: base64 },
                dataType: "json",
                complete: function (e, f, g) {
                    console.log("completed", e, f, g);
                    $("#message").text(e.responseText);
                },
                success: function (e, f, g) {
                    console.log("success" +
                        "", e, f, g);
                    $("#message").text("Done");
                }
            });
        }

        $(function () {

            //init();
            var d = new SketchPad2();
            d.init();
           
            //var d = new SketchPad();
            //window["sk"] = d;
            //d.init();

            $("#clearbutton").click(() => {
                console.log("cleared");
                d.clearCanvas();
            });



            $("#saveButton").click(e => {
                console.log("save");

                var canvas = document.getElementById("sketchpad");
                var data = canvas.toDataURL("image/png");
                data = data.replace('data:image/png;base64,', '');
                var base64 = data;

                //public save() {
                //    let data = this.canvas.toDataURL("image/png")
                //    data = data.replace('data:image/png;base64,', '');
                //    this.ctx.clearRect(0, 0, this.canvas.width, this.canvas.height);
                //    return data;
                //}


                //var base64 = d.save();
                console.log("save result", base64);
                saveImage(base64);
            });
        });

    </script>

}
